@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.padre {
    width: 100vw;
    height: 100vh;
    /* background-image: url(../static/img/cool-background.png); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    height: 7vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
}

nav img {
    margin-left: 1rem;
    max-width: 3.8rem ;
}

.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.menu-horizontal > li > a{
	display: block;
	padding: 1.8rem 2rem;
	color: white;
	text-decoration: none;
}

.menu-horizontal > li:hover{
	background-color: red;
}

.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
    padding: 0;
	width: 8.39rem;
	background-color: rgba(0, 0, 0, 0.5);
}

.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 1.8rem 1.8rem 1.8rem 2rem;
}