@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.padre {
	width: 100vw;
	height: 100vh;
	background: rgb(255, 255, 255);
	background: linear-gradient(180deg, rgba(255, 255, 255, 1) 25%, rgba(96, 164, 235, 1) 75%, rgba(19, 107, 235, 1) 100%);
}

nav {
	display: flex;
	flex-direction: column;
	height: 8.8vh;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

nav img {
	margin-top: 0.5rem;
	max-width: 3.8rem;
}

.menu-horizontal {
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.menu-horizontal>li>a {
	display: block;
	padding: 0.5rem 2rem;
	color: black;
	text-decoration: none;
}

.menu-horizontal>li:hover {
	background-color: red;
}

.menu-vertical {
	position: absolute;
	display: none;
	list-style: none;
	padding: 0;
}

.menu-horizontal li:hover .menu-vertical {
	display: block;
}

.menu-vertical li:hover {
	background-color: bisque;
}

.menu-vertical li a {
	display: block;
	color: black;
	text-decoration: none;
	padding: 1rem;
}