@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--blue: rgba(19,107,235, 1);
	--light_blue: rgba(96, 164, 235, 1);
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.padre {
	height: 100vh;
	width: 100vw;
	display: flex;
	background: rgb(255, 255, 255);
	background: linear-gradient(180deg, rgba(255, 255, 255, 1) 25%, var(--light_blue) 75%, var(--blue) 100%);
}

nav {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

nav img {
	margin-top: 0.5rem;
	max-width: 3.8rem;
}

nav a {
	text-decoration: none;
}

nav h1 {
	color: white;
	-webkit-text-stroke: 0.15vw var(--light_blue);
}

.menu-horizontal {
	list-style: none;
	display: flex;
	justify-content: space-around;
	padding-left: 0;
}

.menu-horizontal>li>a {
	display: block;
	padding: 0.5rem 1rem;
	color: black;
	text-decoration: none;
}

.menu-horizontal>li:hover {
	background-color: red;
}

.menu-vertical {
	position: absolute;
	display: none;
	list-style: none;
	padding: 0;
}

.menu-horizontal li:hover .menu-vertical {
	display: block;
}

.menu-vertical li:hover {
	background-color: bisque;
}

.menu-vertical li a {
	display: block;
	color: black;
	text-decoration: none;
	padding: 1rem;
}

/* Hasta aqui esta estilado del index */

/* Empiez estilado formularios login y registro */
.register, .login {
	width: 100vw;
	display: flex;
	margin-top: 4rem;
	flex-direction: column;
	align-items: center;
}

.register>h1>span, .login>h1>span {
	color: white;
	-webkit-text-stroke: 0.15vw var(--light_blue);
}

.section-inputs {
	display: flex;
	flex-direction: column;
	width: 20rem;
}

.section-inputs>label {
	margin: 0.5rem 0 0.5rem 0;
}

.section-inputs>label>input {
	width: 100%;
	display: block;
	background-color: var(--light_blue);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    outline: none;
    transition: background-color 0.2s, box-shadow 0.2s;
    color: rgb(36, 36, 36);
}

/* .section-inputs>label>input:hover {
	border: solid 0.1rem black;
    box-shadow: 0 0 0.5rem #C5C5C5;
} */

.section-inputs>label>input:focus {
    background-color: var(--light_blue);
	opacity: 85%;
    color: rgb(36, 36, 36);
    box-shadow: 0 0 0.5rem var(--blue);
	border: none;
}

.section-inputs>button {
	margin-top: 0.6rem;
	max-width: 100%;
	background-color: var(--blue);
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 0.75rem;
    border: none;
    border-radius: 0.3rem;
	font-size: small;
}

.section-inputs>button:hover {
    opacity: 0.75;
}

.section-inputs>p {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
    align-items: center;
}

.section-inputs>p>a {
	text-decoration: none;
	font-weight: bold;
}
/* Acaba estilado formularios login y registro */

/* Empieza el estilado de la pagina de dashboard.php */
.panel-user {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100vw;
	margin-left: 2rem;
}